<h3>Options</h3>
<ul class="module">
  <li><%= f.check_box :user_entered_answer %> <%= f.label :user_entered_answer, "Allow user entered answer?" %></li>
  <li><%= f.check_box :multiple_answers %> <%= f.label :multiple_answers, "Allow multiple answers?" %></li>
  <li><%= f.check_box :required %> <%= f.label :required, "Require answer?" %></li>
</ul>