<h2>Edit <%= @survey.title %></h2>
<br />
<%= form_for [@user, @survey] do |f| -%>
  <%= render :partial => 'surveys/form', :locals => { :f => f } %>
  <div class="form_button_cluster">
    <span><%= f.submit "Update" %></span>
    <span><%= link_to "Cancel", survey_path(@survey) %></span>
  </div>
  <div class="clearfix"></div>
<% end -%>