<h2>Reports</h2>
<div class="subhead">
  These are the reports available for <%= @survey.title %>
</div>
<table class="default">
  <tr>
    <th>Report Type</th>
    <th>Count</th>
    <th class="action">&nbsp;</th>
  </tr>
    <tr>
      <td>Individual Results</td>
      <td><%= @survey.survey_results.count %></td>
      <td><%= link_to "View", "#" %></td>
    </tr>
    <tr>
      <td>Sets</td>
      <td><%= @survey.survey_results.collect(&:set_key).uniq.count %></td>
      <td><%= link_to "View", "#" %></td>
    </tr>
</table>